
.members-table {
  width: 100%;
  border-collapse: collapse;
}
.list-vaccine{
  width: 100%;
  border-collapse: collapse;
}
.list-vaccine th, .list-vaccine td {
  padding: 10px;
  border: 1px solid #ddd;
}

.members-table th, .members-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.member-list button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}